$text-color: rgba(130, 126, 126, 1);
$button-text-color:rgba(0, 0, 0, 0.65);
$gradient-colors: (#D9D9D9, #FAFAFA);
$border-color:rgba(217, 217, 217, 1);
$description-color:rgba(0, 0, 0, 1);

.movie-list__item {
  position: relative;
  display: grid;
  grid-template-columns: 45% 55%;
  justify-content: center;
  width: 454px;
  height: 301px;
  font-family: 'Inter', sans-serif;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  @media (max-width: 420px){
    display: block;
    width: 388px;
    height: 245px;
    margin-left: 15px;
    margin-bottom: 20px;
  }
  &-image{
    width: 193px;
    height: 301px;
    @media (max-width: 420px){
      float: left;
      width: 60px;
      height: 91px;
      margin-left: 10px;
      margin-top: 6px;
    }
  }
  &-title{
    margin-top: 10px;
    margin-bottom: 7px;
    line-height: 28px;
    font-size: 20px;
    width: 220px;
    @media (max-width: 420px){
      margin-top: 4px;

      height: 28px;
      margin-left: 83px;
      margin-bottom: 0;
    }

  }
  &-date{
    margin-bottom: 7px;
    color: $text-color;
    font-size: 12px;
    line-height: 22px;
    @media (max-width: 420px){
      width: 83px;
      height: 22px;
      margin-left: 83px;
      margin-top: 50px;
      margin-bottom: 0;
    }
  }
  &-button{
    min-width: 46px;
    height: 20px;
    font-size: 12px;
    line-height: 14.52px;
    border: 1px solid $border-color;;
    border-radius: 2px;
    background: rgba(250, 250, 250, 1);
    color: $button-text-color;
    margin-right: 8px;
    padding: 2px 5px 3px 5px;
    margin-bottom: 10px;
    &:first-child{
      @media (max-width: 420px){
        margin-left: 12px;
      }
    }

  }
  &-description{
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    color: $description-color;
    height: 129px;
    width: 228px;
    @media (max-width: 420px){
      margin-left: 10px;
    }
  }
  &-rate{
    position: absolute;
    top: 10px;
    right: 9px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-content{
    position: relative;
  }
  &-user-rate{
    position: absolute;
    bottom: 5px;
    @media (max-width: 420px){
      right: 2px;
      bottom: 17px;
    }
  }
}
.rating-high{
  border: 2px solid #66E900;
}
.rating-medium{
  border: 2px solid #E9D100;
}
.rating-low{
  border: 2px solid #E97E00;
}
.rating-very-low{
  border: 2px solid #E90000;
}
.rateStyle {
  font-size: 17px;
}
